<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ ITEA Office all rights reserved
  ~
  ~ @author      Johan van der Heide <johan.van.der.heide@itea3.org>
  ~ @copyright   Copyright (c) 2021 ITEA Office (https://itea3.org)
  ~ @license     https://itea3.org/license.txt proprietary
  -->

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" verbose="true" stopOnFailure="false" processIsolation="false" backupGlobals="false">
  <coverage>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
    <report>
      <text outputFile="php://stdout" showUncoveredFiles="false"/>
    </report>
  </coverage>
  <testsuite name="iteaoffice/affiliation">
    <directory>./test</directory>
  </testsuite>
  <logging/>
</phpunit>
