{% do headTitle().append(translate("txt-payment-sheet-for-affiliation-%s")|format(affiliation)) %}
{% do headLink().appendStylesheet(url('assets/funding-status-css')) %}
<h1 class="display-4">{{ translate("txt-payment-sheet-for-affiliation-%s")|format(affiliation) }}

    {% set show = 'payment-sheet-pdf' %}
    {% if useContractData %}
        {% set show = 'payment-sheet-pdf-contract' %}
    {% endif %}
</h1>
{{ paymentSheet(affiliation,year,period, useContractData) }}