{% do headTitle().append(translate("txt-payment-sheet-for-affiliation-%s")|format(affiliation)) %}
{% do headLink().appendStylesheet(url('assets/funding-status-css')) %}
<h1>{{ translate("txt-payment-sheet-for-affiliation-%s")|format(affiliation) }}</h1>
{{ paymentSheet(affiliation,year,period, useContractData) }}